# Zenodo file filling.

In many cases, the Zenodo database has empty values and uneven unit use. This script fixes it and creates a
second, fixed, version of a file.

In [1]:
import os
import numpy as np
import pandas as pd
import importlib

import unit_conversions

In [2]:
#Read technology file
path = "data/zenodo_ivan/conversion/chp/CHE_conv_chp_fueloil.xlsx"
input_df = pd.read_excel(path, skiprows=4)

###Convert units in technology dataframe and reindex to match the current df/Excel format
converted_df = input_df.apply(unit_conversions.convert_units,new_power='MW', new_energy='TJ', axis=1)
converted_df = converted_df.apply(unit_conversions.convert_currency,new_cy='EUR',new_yr=2019,
                                  deflator_country='local',axis=1)

Currency not found: tonne

In [3]:
converted_df.to_csv("/Users/ruiziv/Downloads/test.csv")

In [4]:
linear_df = unit_conversions.linearise_dataframe(converted_df)
linear_df.to_csv("/Users/ruiziv/Downloads/linear.csv")

In [34]:
test = pd.DataFrame(index=[1,2,3,4,5], columns=["vaca", "perro"])
series = pd.Series(index=[1,2,75,3,4,5], name="alien")
test = pd.concat([test, series], axis=1)
series =pd.Series(0, index=[0,1,2,3,4], name="mama")
test = pd.concat([test, series], axis=1)

/var/folders/kr/x8lkz_955c5g1j29tch54jvmb3n2fb/T/ipykernel_5961/1909755543.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series(index=[1,2,75,3,4,5], name="alien")

In [38]:
test.to_excel("/Users/ruiziv/Downloads/test.xlsx", sheet_name="gatp")

In [39]:
unit_conversions.create_cnf_file("data/zenodo_ivan", "/Users/ruiziv/Downloads/test.xlsx")